
/* Control any element in the calendar grid ======================================== */

#TB_title {
     height: 27px;
     font-size: 16px;
}


input.sync_button {

	padding: 2px;

}

#tm_synchronometer input {
	padding: 0px;
	text-align: center;
	font-size: small;
}


#tmc_calendar_plug_form input[type="text"] {
height: inherit;
padding: 0px;
margin: 0px;
text-align: center;
font-size: initial;
margin: 2px;
height: initial;
font-size: small;
}

#tmc_form_container input[type="submit"]:hover {
	background-color: #0F0;
	font-size: 12px;
	line-height: initial;
	text-align: center;
	text-decoration: initial;
	padding: 1px;
	-webkit-appearance: initial;
}


#tmc_form_container input[type="submit"] {
	background-color: darkgrey;
	color: white;
	font-size: 12px;
	line-height: initial;
	text-align: center;
	text-decoration: initial;
	padding: 1px;
	-webkit-appearance: initial;
}




#tm_synchronometer input.thickbox:hover {
	background-color: #0f0;
}



#tm_synchronometer a {
     display: inline;
     background: none;
     padding-right: 2px;
	padding-left: 2px;
}

a.tmc_ads:link, a.tmc_ads:visited, a.tmc_ads:hover, a.tmc_ads:active {
     display: inline;
     background: none;
     text-decoration: none;
     font-size: 10px;
     font-weight: bold;
	background: none;
     line-height: 14px;
     padding-left: 4px;
}


.tmc_ads a:link, .tmc_ads a:visited, .tmc_ads a:hover, .tmc_ads a:active {
  display: inline;
  background: none;
  padding: 5px;
  padding-left: 0px;
  text-decoration: none;
  font-size: 10px;
  font-weight: bold;
}


/* THICKBOX - add the close icon into your core. ======================================== */


div.close_window{
	margin-top: -50px;
}

#TB_closeAjaxWindow {
	margin-top: -24px;
	margin-bottom: -24px;
}

#TB_window a:link {
	color: black !important;
	padding: 0 4px !important;
}

#TB_window a:hover {
//	background: silver;
}

/* Message Popup CSS ======================================== */

button.ui-state-default {
	width: 26px;
     padding-right: 3px;
     padding-left: 2px;
}


.ui-front {
	z-index: 99999;
}

/* Inside popup container div ======================================== */

#cal_inside_popup_wrapper div{
	margin-left: 12px;
}

img.plasma_icons {
     width: 22px;
	height: auto;
}


/* Calendar table definitions ======================================== */

/* The whole thing is in a class, so we can customize any detail */

div.tmc_ads {

	width: 100%;
	float: none;
	margin-top: 12px;
}

div.tmc_ad_class {
	text-align: right;
	clear: both;

}


#oracle_div table {
	width: 100%;
}

#oracle_div td {
	align: center;
	text-align: center;
}


#tm_synchronometer button.button_today {

}

#cal_grid input {
/*	width: 22px;
	height: 21px; 
	margin: auto;

	text-align: center;
	font-weight: bold;
	height: 100%; */

	width: 100%;
	width: 100%;
	height: 22px;
}

#tm_synchronometer td {
     padding-top: 2px;
     padding-bottom: 2px;
     padding-right: 2px;
     padding-left: 2px;
	text-align: center;
	vertical-align: middle;
	font-size: small;
}

#tm_synchronometer h4 {
     font-size: small;
     text-transform: capitalize;
     margin-top: 2px;
	margin-bottom: 2px;
}


#tm_synchronometer i.change_month {
	font-size: x-large;
}

#tm_synchronometer td.cal_row_med_norm {
     padding-top: 2px;
 //    padding-right: 2px;
     padding-bottom: 2px;
//     padding-left: 2px;
     text-align: center;
}


/* calendar_wrapper calendar_inside_wrapper */

.content {
     float: left;
     padding: 0px;
     overflow: visible;
}

tr.plasma_row {
	background-color: navy;
}

img.plasm_img {
	border: none;
}




div.orkin_tainer {
	width: 100%;
	margin: auto;
	/* min-width: 140px; */
	float: left;
}


div.otone_image {
	width: 99%;
}

div.oseal_image {
	width: 99%;
}




td.cal_row_dk_1 {
    border: 1px solid #ccc;
    width: 2em; /* or whatever... */
    max-width: 2em; /* or whatever... */
    height: 2em; /* or whatever... */
    line-height: 2em; /* or whatever... */
    text-align: center; /* a personal aesthetic choice... */
    overflow: hidden; /* to prevent overflow... */
}

#calendar_wrapper table.tmc_table_tight {
	margin: 2px 0px;
	background-color: #FFFFCE;
}

table.tmc_table_tight {
	margin: 2px 0px;
	background-color: #FFFFCE;
}

table.tmc_hdr_table_tight {
	margin: none;
}

td.cal_header_td {
	padding: 2px 2px;
	margin: none;
}

td.cal_cell_1 {
	margin: none;
}

.content table tr td {
     padding: none;
     width: auto;
     text-align: center;
     border: 1px solid #CCC;
}



.content table tr td {
     padding: none;
     width: auto;
     text-align: center;
     border: 1px solid #CCC;
}


/* Anchor Tags for Calendar */

a.cal_link:link, a.cal_link:visited {
	font-size: 10px;
	color: #0000FF;
	font-weight: bold;
	font-family: Verdana;
	text-decoration: none;
	text-align: center;
}

a.cal_link:hover, a.cal_link:active {
	font-size: 10px;
	color: White;
	background-color: Green; /*	padding: 2px 2px 2px 2px; */
	text-align: center;
}

/* Calendar Galactic Signatures - links to other days in the calendar */
a.cal_gs_link_RED:link, a.cal_gs_link_RED:visited {
	font-size: 14px;
	color: Black;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
	text-decoration: none;
	font-style: italic;
}
a.cal_gs_link_RED:hover, a.cal_gs_link_RED:active {
	font-size: 14px;
	color: #A8002A;
	font-style: italic;
}

/* Calendar Galactic Signatures - links to other days in the calendar */
a.cal_gs_link_WHITE:link, a.cal_gs_link_WHITE:visited {
	font-size: 14px;
	color: Black;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
	text-decoration: none;
	font-style: italic;
}
a.cal_gs_link_WHITE:hover, a.cal_gs_link_WHITE:active {
	font-size: 14px;
	color: #AFAFAF;
	font-style: italic;
}

/* Calendar Galactic Signatures - links to other days in the calendar */
a.cal_gs_link_BLUE:link, a.cal_gs_link_BLUE:visited {
	font-size: 14px;
	color: Black;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
	text-decoration: none;
	font-style: italic;
}
a.cal_gs_link_BLUE:hover, a.cal_gs_link_BLUE:active {
	font-size: 14px;
	color: Blue;
	font-style: italic;
}

/* Calendar Galactic Signatures - links to other days in the calendar */
a.cal_gs_link_YELLOW:link, a.cal_gs_link_YELLOW:visited {
	font-size: 14px;
	color: Black;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
	text-decoration: none;
	font-style: italic;
}
a.cal_gs_link_YELLOW:hover, a.cal_gs_link_YELLOW:active {
	font-size: 14px;
	color: Olive;
	font-style: italic;
}


/* BEGIN Calendar classes ======================================== */

td.cal_hdr{
	font-size: 20px;
	color: Yellow;
	text-align: center;
	font-stretch: wider;
	font-style: italic;
	font-weight: bold;
}

/* HEADER - for Moon Name and Number */

td.cal_row_dk_hlt /* Highlighted Day on Calendar */
{
	color: White;
	background-color: #008082;
	vertical-align: middle;
	text-align: center;
	font-weight: bold;
	font-stretch: extra-expanded;
	font-variant: small-caps;
}

td.cal_row_dk_1 /* White on dk Red */
{
	font-size: 12px;
	color: #FFFFFF;
	background-color: Maroon;
	vertical-align: middle;
	text-align: center;
	font-weight: bold;
	font-stretch: extra-expanded;
	font-variant: small-caps;
}

td.cal_row_dk_2 /* White on dk Grey */
{
	font-size: 12px;
	background-color: #474747;
	color: White;
	vertical-align: middle;
	text-align: center;
	font-weight: bold;
	font-stretch: extra-expanded;
	font-variant: small-caps;
}

td.cal_row_dk_3 /* White on dk Blue */
{
	font-size: 12px;
	color: #FFFFFF;
	background-color: #00016A;
	vertical-align: middle;
	text-align: center;
	font-weight: bold;
	font-stretch: extra-expanded;
	font-variant: small-caps;
}

td.cal_row_dk_4 /* White on dk Yellow */
{
	font-size: 12px;
	color: White;
	background-color: #444400;
	vertical-align: middle;
	text-align: center;
	font-weight: bold;
	font-stretch: extra-expanded;
	font-variant: small-caps;
}


/* Medium darkenss for Gregorian Day */

td.cal_row_med_hlt_moons

td.cal_row_med_hlt /* Highlighted Day on Calendar */
{
	color: Black;
	text-align: center;
	font-weight: bold;
	white-space: nowrap;
	background-color: rgb(174, 255, 158);
}

td.cal_row_med_1 /* White on Red */
{
	font-size: 10px;
	color: #FFFFFF;
	background-color: #CC0000;
	vertical-align: top;
	text-align: center;
	white-space: nowrap;
}

td.cal_row_med_2 /* Black on White */
{
	font-size: 10px;
	background-color: Silver;
	color: #000000;
	vertical-align: top;
	text-align: center;
	white-space: nowrap;
}

td.cal_row_med_3 /* White on Blue */
{
	font-size: 10px;
	color: #FFFFFF;
	background-color: #0002B9;
	vertical-align: top;
	text-align: center;
	white-space: nowrap;
}

td.cal_row_med_4 /* Black on Yellow */
{
	font-size: 10px;
	color: Black;
	background-color: #FEFF73;
	vertical-align: top;
	text-align: center;
	white-space: nowrap;
}




/* Medium ligth kin and guiding power */

td.cal_row_medlt_hlt /* Highlighted Day on Calendar */
{
	font-size: 12px;
	color: Black;
	background-color: #B0F0F0;
	vertical-align: middle;
	text-align: center;
	white-space: nowrap;
}

td.cal_row_medlt_1 /* Black on Red */
{
	font-size: 12px;
	color: Black;
	background-color: #FF9797;
	vertical-align: middle;
	text-align: center;
	white-space: nowrap;
}

td.cal_row_medlt_2 /* Black on White */
{
	font-size: 12px;
	background-color: #CCCCCC;
	color: #000000;
	vertical-align: middle;
	text-align: center;
	white-space: nowrap;
}

td.cal_row_medlt_3 /* White on Blue */
{
	font-size: 12px;
	color: #FFFFFF;
	background-color: #2F30FF;
	vertical-align: middle;
	text-align: center;
	white-space: nowrap;
}

td.cal_row_medlt_4 /* Black on Yellow */
{
	font-size: 12px;
	color: Black;
	background-color: #FFFF99;
	vertical-align: middle;
	text-align: center;
	white-space: nowrap;
}


/* Light for Tone and Tribe Day */

td.cal_row_lt_hlt /* Highlighted Day on Calendar */
{
	font-size: 12px;
	color: Black;
	background-color: White;
	vertical-align: middle;
	text-align: center;
	font-weight: bold;
	white-space: nowrap;
}

td.cal_row_lt_1 /* White on Red */
{
	font-size: 12px;
	color: Black;
	background-color: #FFB5C4;
	vertical-align: middle;
	text-align: center;
	white-space: nowrap;
}

td.cal_row_lt_2 /* Black on White */
{
	font-size: 12px;
	background-color: #D4D4D4;
	color: #000000;
	vertical-align: middle;
	white-space: nowrap;
	text-align: center;
}

td.cal_row_lt_3 /* White on Blue */
{
	font-size: 12px;
	color: Black;
	background-color: #CECFFF;
	vertical-align: middle;
	text-align: center;
	white-space: nowrap;
}

td.cal_row_lt_4 /* Black on Yellow */
{
	font-size: 12px;
	color: Black;
	background-color: #FFFFCE;
	vertical-align: middle;
	text-align: center;
	white-space: nowrap;
}


div.proper_date {
	float: right;
	overflow: visible;
}


div.seal_image {
	float: left;
	width: 82px;
	height: 82px;
}

img.seal_img {
	width: 82px;
	height: 82px;
}


div.tone_image {
	float: left;
	height: 82px;
}

table#plasma_table {
	margin: auto;
	width: 100%;
}

#tmc_form_container input {
padding: 0px;
text-align: center;
font-size: small;
}


div.color_tone_tribe {
	float: none;
	clear: both;
	text-align: center;
	white-space: nowrap;
	padding-top: 6px;
}

table#decode_table {
	margin-bottom: 0px;
}

table#tmc_calendar_plug_form {

	margin-bottom: 20px;

}

div.kinfo_tainer {
	font-size: 120%;
	margin-top: 20px;
	margin-left: auto;
	margin: auto;
	clear: both;
}



div.kin_tainer {
	width: 20%;
	margin: auto;
	float: none;
	overflow: hidden;
	clear: both;
}



img.tone_img {
	max-width: inherit;
	max-height: 80px;
}

#TB_ajaxContent {
	clear: both;
	padding: 2px 15px 15px 15px;
	overflow: auto;
	text-align: left;
	line-height: 1.4em;
	margin-left: auto;
}

div.tone_image {
	float: left;
	max-width: 53px;
	margin-top: 0px;
	max-height: 100px;
}

div.portal_container {
	width: 29%;
	float: left;
	max-width: 200px;
	min-width: 90px;
	margin-top: 0px;
}

div.ssp_ext_link {
	float: left; 
	text-align: left; 
	margin-top: 13px;
}


div.portal_affirm {
	font-size: 80%;
	float: left;
	max-width: 55px;
	padding-left: 4px;
	line-height: 12px;
	margin-top: 8px;

}

div.portal_image_div {
	float: left;
	margin-top: 0px;
	margin-left: 10px;
}


#portal_image_id img {

	margin-top: 10px;
	height: 62px;
	width: 30px;

}


.wave_container {
	/* float: left; */
	width: 89%;
	/* margin-top: 20px; */
	/* margin-left: auto; */
	margin: auto;
	min-width: 120px;
}
div.kin_affirm {
	float: left;
	clear: both;
	text-align: center;
	margin-top: 20px;
	width: 100%;
}



.castle_class {
	text-align: center;
	width: 80%;
	margin: auto;
	clear: both;
	padding-top: 20px;
}

div.kin_num_container_div {
	width: 10%;
	min-width: 90px;
	margin: auto;
	white-space: nowrap;
}

div.kin_num {
	float: none;
}

div.kin_word {
	float: left;
	margin-right: 10px;
}

.wave_spl {
	text-align: center;
	width: 80%;
	margin: auto;
	margin-top: 20px;
	clear: both;
}


div.moon_group {
	clear: both;
	width: 30%;
	margin: auto;
	min-width: 150px;
	padding-top: 20px;
	float: none;
}


div.moon_img {
	float: left;
}

div.moon_info {
float: left;
max-width: 80px;
margin-left: 10px;
}

#tmc_form_container td {
padding-top: 2px;
padding-bottom: 2px;
padding-right: 2px;
padding-left: 2px;
text-align: center;
vertical-align: middle;
font-size: 10px;
}

.nice_date {
	font-size: small;
	float: left;
	width: 100%;
	text-align: center;
}

div#tm_kinfo {
	min-height: 80px;
}


div.ssp_ext_link {
	padding-top: 10px;
	margin-top: 20px;
	width: 50%;
	margin: auto;
	text-align: center;
	clear: both;
	float: none;
}

#tmc_form_container td {
	padding: 0 0 0 0;
}

input#super-tony-tmc-high {
	background-color: #000;
}

input#super-tony-tmc-low {
	background-color: #aaa;
}




/* here's some css for the main calendar on Day out of Time */



div#doot_div_id {
	width: 100%;
	margin: auto;
	float: none;
	overflow: hidden;
}

img#doot_div_id {

	max-width: 100%;
	height: auto;
	width: auto\9; /* ie8 */

}

div.doot_txt {
	text-align: center;
	/* float: left; */
	/* width: 30%; */
	font-size: small;
	/* height: 50%; */
	/* margin: auto; */
	margin-left: 60%;
	margin-top: 5%;
}

div.doot_img {
	width: 60%;
	float: left;
}

div.kin_content_toggle_div{
	cursor: pointer; 
	cursor: hand;

}

div.oracle_content_toggle_div {
	cursor: -webkit-zoom-in;
	cursor: hand;
}


div#tm_oracle {
	min-height: 80px;
	overflow: hidden;
	clear: both;
	display: block;
}



div.oracle_header_txt {
	margin-top: 20px;
	margin-left: auto;
	margin: auto;
	clear: both;
	float: none;
	width: 30%;
	text-align: center;
	text-shadow: 3px 6px 6px rgba(192, 105, 247, 0.88);
	font-size: x-large;
	min-width: 200px;
}

i.doot_itext {
	text-shadow: 3px 6px 6px rgba(192, 105, 247, 0.88);
	font-size: medium;
}

table#cal_grid {
	width: 100%;
	margin-bottom: 0px;
}

table#decode_table {
	width: 100%;
}

div.oracle_word {
	font-size: x-small;
}

div.timewatch_tainer {

}

div.ws_tone_img {
	margin-bottom: -5px;
}

.ws_seal_img {
    max-width: 40px;
}


.ws_tone_img {
    max-width: 40px;
}

div.oseal_image {
	margin: auto;
    width: 60px;
}

div.otone_kin_image {
margin: auto;
    width: 70px;
    margin-bottom: -5px;
}

div.oseal_kin_image {
margin: auto;
    width: 70px;
}

#oracle_div table td {
	vertical-align: bottom;
}


#oracle_div img {
	max-width:100%;
	max-height:100%;
}

#wavespell_id img {
	max-width:100%;
	max-height:100%;
}

#wavespell_id table {
	width: 100%;
	border: none;
}

#wavespell_id td {
	border: none;
}

#oracle_div td {
	border: none;
}


.sidebar ul li a {
	border-bottom: none;
}


/*--------------------------------------------------------------
----------------------------------------------------------------
1.0 - Global Styles
2.0 - Responsive media queries (mobile styles)
	2.1 - MAXIMUM width of 720 pixels (phones landscape)
	2.2 - MAXIMUM width of 380 pixels (phones portrait)
	2.3 - MINIMUM width of 721 pixels (tablets+)
	2.4 - MINIMUM width of 1040 pixels (desktops and laptops)
--------------------------------------------------------------*/
/*--------------------------------------------------------------
1.0 - Global Styles
--------------------------------------------------------------*/

/*--------------------------------------------------------------
2.0 - Responsive media queries (mobile styles)
--------------------------------------------------------------*/

/*--------------------------------------------------------------
2.1 - MAXIMUM width of 720 pixels (phones landscape)
--------------------------------------------------------------*/
@media screen and (max-width: 720px) {


	div#tmc_form_container {
		margin: auto;
	}



}/* don't delete this closing bracket */


/*--------------------------------------------------------------
2.2 - MAXIMUM width of 380 pixels (phones portrait)
--------------------------------------------------------------*/
@media screen and (max-width: 380px) {



}/* don't delete this closing bracket */


/*--------------------------------------------------------------
2.3 - MINIMUM width of 721 pixels (tablets+)
--------------------------------------------------------------*/
@media screen and (min-width: 721px)  {


}/* don't delete this closing bracket */


/*--------------------------------------------------------------
2.4 - MINIMUM width of 1040 pixels (desktops and laptops)
--------------------------------------------------------------*/
@media screen and (min-width: 1040px)  {

	#tmc_form_container input {
		padding: 0px;
		text-align: center;
		font-size: small;
	}

	div#tmc_form_container {
		max-width: 300px;
		margin: auto;
	}

}/* don't delete this closing bracket */


/* END Calendar classes ======================================== */
